#header {
	background-color: #008b8b;
	height: 250px;
	width: 100%;
	display: inline-block;
}

#header_image {
	width: 200px;
	height: 250px;
	float:left;
}

#logo {
	margin: 25px auto 25px auto;
	height: auto;
	width: 200px;
	float: left;
}

#header_words {
	height: 250px;
	color: white;
}

h1 {
	margin: 105px 0px 105px 0px;
	font-size: 40px;
}

#headerLinks {
	width: 100%;
	height:50px;
	background-color: #008b8b;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	vertical-align: center;
	text-align: center;
	line-height: 50px;
	font-size: 25px
	
}

.probHeader {
	
	width: 33.1%;
	/*float: left;*/
	display: inline-block;
	height: 50px;
	text-decoration: none;
}

.probHeader:hover {
	background-color: #008080;
}

#euOnePlace, #euTwoPlace, #euThreePlace {
	height: 600px;
	
}

#euOnePlace {

}

#euTwoPlace {
	background-color: #008b8b;
}

#euThreePlace {

}

#footer {
	background-color: #008b8b;
	height: 50px;
}